.contact {
    min-height: 95vh;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: calc(var(--nav-size) + 7.5rem);
    padding-bottom: 10rem;
    background-color: var(--bg);
    position: relative;
    overflow: hidden;
    color: var(--text);
}

@media only screen and (max-width: 850px) {
    .contact {
        padding-top: 2.5rem;
    }
}

.contact_hero {
    max-width: 80vw;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.contact_header {
    font-size: 1.1rem;
    color: var(--text-3);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 2rem;
    display: block;
}


.contact_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    border: 2px var(--line) solid;
    background-color: var(-text);
    width: fit-content;
    gap: 1rem;
    margin-top: 2.5rem;
}

.contact_link:hover {
    cursor: pointer;
    background-color: var(--text);
    color: var(--bg);
    transition: ease-in-out 600ms;
}

