.feature-card {
    padding: 2rem;
    transition: transform 0.3s ease;
    text-align: left;
    border: solid 1px var(--text);
}

.feature-card:hover {
    transform: translateY(-5px);
    border-color: var(--alt);
}

.feature-card:hover .feature-icon{
    color: var(--alt);
}

.feature-card:hover h3 {
    color: var(--alt);
}

.feature-card:hover p {
    color: var(--text);
}



.feature-icon {
    color: var(--text);
    margin-bottom: 1rem;
}

.feature-card h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: var(--text-2);
}

.feature-card p {
    color: var(--text-3);
    font-size: 0.95rem;
    line-height: 1.5;
}

@media (max-width: 480px) {
    .feature-card {
        padding: 1.5rem;
    }
} 